.content {
    background-color: #ccc;
}

.mxw-960 {
    max-width: 960px;
}

.bgc-green {
    background-color: #c4d0c9;
}

.fs-120p {
    font-size: 120%;
}

.ff-sans-serif {
    font-family: sans-serif;
}


.logo__img {
    width: 100px;
    height: 100px;
}